.form {
  padding-top: 50px;
  justify-content: center;
  gap: 20px;
}

.form > * {
  width: 100%;
  justify-self: center;
}

.form > input {
  padding: 0 10px;
  height: 50px;
  border: none;
  border-radius: 8px;
}

.form > label {
}
