body {
  background-color: var(--primary-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.125rem;
  max-width: 14.375rem;
  min-width: 12.5rem;

  background-color: var(--secundary-color);
  border: none;
  border-radius: 0.3125rem;

  text-align: center;
  color: var(--font-color);
}

.button--ghost {
  background-color: var(--primary-color);
  color: var(--font-ghost);
}

.button:disabled {
  background-color: var(--pale-secundary-color);
}

.error-message {
  color: var(--error);
}

.form {
  padding-top: 50px;
  justify-content: center;
  gap: 20px;
}

.form > * {
  width: 100%;
  justify-self: center;
}

.form > input {
  padding: 0 10px;
  height: 50px;
  border: none;
  border-radius: 8px;
}

.select {
  border: none;
  height: 50px;
  padding: 0 10px;
}

.close-button {
  align-self: flex-end;

  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--secundary-color);
  border-radius: 100%;

  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.301);
}
