.alert-button-page {
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secundary-color);
  background-image: url("/src/assets/start-bg.svg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-button {
  color: var(--font-title);
  text-align: center;
}

.alert-button {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;

  width: 70%;
  max-width: 350px;
  min-width: 200px;
  aspect-ratio: 1/1;

  background-color: var(--secundary-color);
  border-radius: 50%;
}
