.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px;
  min-width: 200px;
  max-width: 300px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
